* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Readex Pro", sans-serif;
}

#menu {
  cursor: pointer;
}

#top-bars {
  background-color: #729bd3;
  display: flex;
  justify-content: space-between;
}

#top-bars #menu {
  color: #fff;
  float: right;
  margin-top: 12.5px;
  margin-right: 12.5px;
}

#nav a {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
}

#nav li {
  list-style: none;
  font-size: 20px;
  padding: 10px;
}

#top-bars {
  padding: 0px;
  font-size: 20px;
  display: flex;
  flex-direction: row-reverse;
}

#top-bars div {
  font-size: 30px;
}

#nav {
  position: relative;
  float: right;
  margin-top: -100%;
  background-color: #729bd3;
}

#top-bars img {
  width: 60px;
}

@keyframes aparecer {
  0% {
    margin-top: -100%;
  }

  100% {
    margin-top: 0%;
  }
}

@keyframes desaparecer {
  0% {
    margin-top: 0%;
  }

  100% {
    margin-top: -100%;
  }
}
/* NAV MOBILE */

@media (min-width: 768px) {
  #menu {
    display: none;
  }
  #nav {
    margin-top: -60px;
    background-color: transparent;
  }

 #top-bars {
     flex-direction: row;
 }

 .logo-nav{
    margin-left: 10px;
 }
 
  #nav lu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #nav li {
    float: left;
  }

  .text-nav:hover {
    background-color: #5a7cac;
    border-radius: 40px;
  }

  @keyframes desaparecer {
    display: none;
  }
  @keyframes aparecer {
    display: none;
  }

  
}

/* FIN NAV MONILE*/

.section-img img {
  display: flex;
  margin: auto;
  width: 100%;
}

.section-logo-img {
  margin-top: 100px;
}

.section-logo-img h4 {
  text-align: center;
  font-size: 24px;
  margin-left: 50px;
  margin-right: 50px;
  font-weight: bolder;
  color: #000000;
}

.section-logo-img img {
  width: 200px;
  height: 200px;
  display: flex;
  margin: auto;
}

.section-text {
  max-width: 1200px;
  align-items: center;
  margin: auto;
}

.titulo {
  margin-top: 65px;
  background-color: #57bcf4;
  text-align: center;
  padding: 20px;
  font-size: 28px;
  margin-left: 50px;
  margin-right: 50px;
  font-weight: bolder;
  color: #fff;
}

.contenido {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.contenido p {
  margin-top: 20px;
  text-align: left;
  color: #000000;
  line-height: 13px;
  line-height: 100%;
  font-weight: bolder;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.contactanos {
  background-color: #084c61;
  padding: 10px;
  border-radius: 4px;
margin-right: 300px;
  cursor: pointer;
}
.contactanos a {
  color: #fff;
  margin-top: 10px;
  font-weight: bolder;
  text-decoration: none;
  margin: auto;
}

.contactanos:hover {
  background-color: rgb(15, 60, 131);
}

.nuestro-equipo {
  background-color: #084c61;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 300px;
}

.nuestro-equipo p {
  color: #fff;
  text-align: center;
  font-weight: bolder;
}

.nuestro-equipo:hover {
  background-color: rgb(15, 60, 131);
}

/* FOOTER */

.footer-wave {
  margin-top: 300px;
  width: 100%;
  height: 150px;
  background-color: #5d90d5;
}

.elementos-footer {
  display: flex;
}

.footer-wave .logo-footer img {
  height: 80px;
  width: auto;
  margin: auto;
  margin-top: 30px;
}

.footer-wave .info {
  margin-top: 25px;
}

.footer-wave .info li {
  list-style: none;
  margin: auto;
  color: #084c61;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.132);
  padding: 7px;
}

.footer-wave .info li label {
  margin-left: 10px;
  color: #fff;
  font-family: Readex Pro;
  font-style: normal;
  font-weight: normal;
}
