* {
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
}

#menu{
    cursor: pointer;
}

#top-bars {
    background-color: #57BCF4;
}

#top-bars #menu {
    color: #FFF;
    float: right;
}

#nav a {
    text-decoration: none;
    font-size: 25px;
    color: #FFF;
}

#nav li {
    list-style: none;
    font-size: 20px;
    padding: 10px;
}

#top-bars {
    padding: 15px;
    font-size: 20px;
    display: flex;
    flex-direction: row-reverse;
}

#top-bars div {
    font-size: 30px;
}

#nav {
    float: right;
    margin-top: -100%;
    background-color: #57BCF4;
}

@keyframes aparecer {
    0% {
        margin-top: -100%;
    }

    100% {
        margin-top: 0%;
    }
}

@keyframes desaparecer {
    0% {
        margin-top: 0%;
    }

    100% {
        margin-top: -100%;
    }
}

.section-img img {
    width: 100%;
    display: flex;
    margin: auto;

}

.section-logo-img {
    margin-top: 65px;
}

.section-logo-img img {
    width: 200px;
    height: 200px;
    display: flex;
    margin: auto;

}


.section-text {
    margin-top: 130px;
}

.titulo {
    background-color: #57BCF4;
    text-align: center;
    padding: 20px;
    font-size: 28px;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: bolder;
    color: #fff;
}

.contenido {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.contenido p {
    text-align: left;
    color: #000000;
    line-height: 13px;
    line-height: 100%;
    font-weight: bolder;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.contactanos {
    background-color: #084c61;
    padding: 10px;
    border-radius: 4px;
    margin-left: 20px;
    cursor: pointer;
}
.contactanos a {
    color: #fff;
    margin-top: 10px;
    font-weight: bolder;
    text-decoration: none;
    margin: auto;
}

.contactanos:hover{
    background-color: rgb(15, 60, 131); 
}


.nuestro-equipo {
    background-color: #084c61;
    padding: 10px 20px;
    border-radius: 4px;
    margin-right: 20px;
    cursor: pointer;
}

.nuestro-equipo p {
    color: #FFF;
    text-align: center;
    font-weight: bolder;
}

.nuestro-equipo:hover{
    background-color: rgb(15, 60, 131); 
}



.footer-wave {
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    top: 200px;
    background-color: #0099FF;
}


.footer-wave .logo-footer img{
    height: 80px;
    width: auto;
    position: relative;
    margin: auto;
}

.footer-wave .info li{
    position: relative;
    list-style: none;
    margin:auto;
    color: rgb(0, 0, 0);
}

.footer-wave .info li label{
    font-weight: bolder;
    margin-left: 10px;
}


