* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
}

#menu{
    cursor: pointer;
}

#top-bars {
    background-color: #729bd3;
    display: flex;
    justify-content: space-between;
}

#top-bars #menu {
    color: #FFF;
    float: right;
    margin-top: 12.5px;
    margin-right: 12.5px;
}

#nav a {
    text-decoration: none;
    font-size: 25px;
    color: #FFF;
}

#nav li {
    list-style: none;
    font-size: 20px;
    padding: 10px;
}

#top-bars {
    padding: 0px;
    font-size: 20px;
    display: flex;
    flex-direction: row-reverse;
}

#top-bars div {
    font-size: 30px;
}

#nav {
    float: right;
    margin-top: -100%;
    background-color: #729bd3;
}

#top-bars img {
    width: 60px;
}

@keyframes aparecer {
    0% {
        margin-top: -100%;
    }

    100% {
        margin-top: 0%;
    }
}

@keyframes desaparecer {
    0% {
        margin-top: 0%;
    }

    100% {
        margin-top: -100%;
    }
}

/*-----------------------------------------*/

.titulo {
    margin-top: 65px;
    background-color: #57BCF4;
    text-align: center;
    padding: 20px;
    font-size: 28px;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: bolder;
    color: #fff;
}

.titulo h1 {
    font-size: 20px;
}

.titulo-contenido{
    margin-top: 80px;
    text-align: center;
}

.linea0{
    border-radius: 30px;
    margin: auto;
    height: 4px;
    width: 112px;
    background-color: #f8b660;
}

.linea1{
    border-radius: 30px;
    margin: auto;
    height: 4px;
    width: 100px;
    background-color: #f8b660;
}


.linea2{
    border-radius: 30px;
    margin: auto;
    height: 4px;
    width: 190px;
    background-color: #f8b660;
}

.descripcion-contenido{
    margin-top: 20px;
    text-align: center;
    margin-left: 10px;
}
.descripcion-contenido p {
    text-align: center;
    margin: auto;
}

.imagen {
    display: flex;
    justify-content: center;
}


.img-2{
    width: 250px;
    margin-top: 60px;
}

.img-1{
    width: 200px;
    margin-top:20px;
}

/* FOOTER */

.footer-wave {
    margin-top: 200px;
	width: 100%;
    height: 150px;
    background-color: #5d90d5;
}

.elementos-footer {
	display: flex;
}


.footer-wave .logo-footer img{
    height: 80px;
    width: auto;
    margin: auto;
	margin-top: 30px;
}

.footer-wave .info{
    margin-top: 25px;
}


.footer-wave .info li{
    list-style: none;
    margin:auto;
    color: #084C61;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.132);
    padding: 7px;
}

.footer-wave .info li label{
    margin-left: 10px;
	color: #fff;
    font-family: Readex Pro;
    font-style: normal;
    font-weight: normal;
}



@media (min-width: 768px) {
    #menu {
      display: none;
    }
    #nav {
      margin-top: -60px;
      background-color: transparent;
    }
  
   #top-bars {
       flex-direction: row;
   }
  
   .logo-nav{
      margin-left: 130px;
   }
   
    #nav ul {
      list-style: none;
      margin-right: 130px;
      padding: 0;
    }
    #nav li {
      float: left;
    }
  
    #nav li:hover {
        background-color: #5a7cac;
        border-radius: 40px;
      }
  
    @keyframes aparecer {
    }
    
    @keyframes desaparecer {
    }
  
  }

  .imagenes {
    width: fit-content; 
    margin: 0 auto;

  }

  .div-imagenes {
      margin: 70px;
  }

  @media only screen and (min-width:800px) {
      .imagenes {
          display: flex;
          
      }
      .img-2{
          width: 370px;
      }
      .div-imagenes {
          margin: 70px;
      }
  }

  @media only screen and (min-width:800px) {
      .titulo{
          max-width: 220px;
          margin: auto;
          margin-top: 40px;
      }
      .descripcion-contenido{
          max-width: 370px;
          margin: auto;
          margin-top: 20px;
          text-align: left;
          font-size: 20px;
      }
  }

